body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    color: #fffefe;
}

/* ************************************ logo and home button in navigation bar ************************** */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.navbar {
    position: absolute;
    top: 20px;
    right: 20px;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin: 0 10px;
    border-radius: 25px;
    padding: 6px 15px;
}

.navbar a:hover {
  background: #1884dd ;
  color : #fcfeff ;  
}

.arrow {
  border: solid rgb(250, 250, 250);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* ************************************ logo and home button in navigation bar ************************** */
h1{
  position: relative;
  color: #ee38b1;
  text-align: center;
 margin-top: 100px;
 /* left: 200px; */
 font-family: 'Times New Roman', Times, serif;
 font-size: 60px;
}
