body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.navbar {
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px;
    box-sizing: border-box;
    color: white; /* Text color */
}

.navbar img {
    height: 40px; /* Adjust the height of the logo */
    margin-right: 20px; 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white; /* Text color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #000000;
}

.header {
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 20px;
}

.login-button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
}

.login-button:hover {
    background-color: #001f4d;
}

.login-container {
    display: none;
    text-align: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    color: #ffffff;
}