body {
    margin: 0; 
    font-family: Arial, sans-serif;
    background-image: url('prapth\static\images\back1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

nav {
    background-color: transparent; /* Make it transparent */
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Or adjust as needed */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure the navbar is on top */
}

.logo img {
    max-width: 50px; /* Adjust as needed */
    height: auto;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-left: 50px; /* Space between links */
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.title {
    text-align: center;
    margin-top: 270px; /* Adjust as needed */
    color: #fff;
}

.title h1 {
    margin: 0;
    font-size: 100px; /* Adjust as needed */
    font-weight: bold; /* Adjust as needed */
    text-transform: uppercase; /* Adjust as needed */
    letter-spacing: 10px; /* Adjust as needed */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .nav-links li {
        margin-left: 10px; /* Adjust as needed */
    }

    .logo img {
        max-width: 40px; /* Adjust as needed */
    }

    .title {
        margin-top: 150px; /* Adjust as needed */
    }

    .title h1 {
        font-size: 60px; /* Adjust as needed */
        letter-spacing: 5px; /* Adjust as needed */
    }
}
