body {
  background-image: url('static/images/back1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent; /* Transparent background */
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Ensure navbar is on top of other content */
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#login-form {
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.toggle-button {
  margin-bottom: 20px;
}