body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* ************************************ logo and home button in navigation bar ************************** */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.navbar {
    position: absolute;
    top: 20px;
    right: 20px;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin: 0 10px;
    border-radius: 25px;
    padding: 6px 15px;
}

.navbar a:hover {
  background: #1884dd ;
  color : #fcfeff ;  
}

.arrow {
  border: solid rgb(250, 250, 250);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* ************************************ logo and home button in navigation bar ************************** */
h1{
  position: relative;
  color: #ee38b1;
  text-align: center;
 margin-top: 100px;
 /* left: 200px; */
 font-family: 'Times New Roman', Times, serif;
 font-size: 60px;
}





/* card elements css **********************************************/
.card-container {
    display: flex; /* Use flexbox to align items */
    justify-content: space-between; /* Add space between items */
    position: absolute; /* Use absolute positioning */
    top: 300px; /* Set the top position in pixels */
    left: 400px;
  }

.card-title {
    color: #262626;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  
  .small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
  }
  
  .small-desc {
    font-size: 1em;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #384c6c);
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card {
    display: block;
    position: relative;
    max-width: 300px;
    max-height: 320px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    margin-right: 80px;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer; /* Add cursor:pointer to indicate the card is clickable */
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #364a60, #384c6c);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
  
  .card:hover:before {
    transform: scale(28);
  }
  
  .card:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }
/*  card element css over **************************************** */  

