<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - PRAPTH</title>
    <link rel="stylesheet" href="static\css\aboutus.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="static/images/prapth-logo.jpeg" alt="PRAPTH Logo" height="80" width="80"> 
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
        </ul>
    </nav>

    <div class="content">
        <div class="about-us">
            <h2>About Us</h2>
            <p>PRAPTH is a passionate team of individuals dedicated to utilizing the power of technology to make a positive impact on society. 
                We are driven by the belief that everyone deserves to be found and reunited with their loved ones, and we are committed to developing innovative solutions to the critical issue of missing person identification.</p>
            <br>
            <h3>Our Mission:</h3>
            <p>Our mission is to leverage the potential of facial recognition technology to create a world where missing individuals are quickly and accurately identified, leading to faster reunions and happier families.</p>
            <ul>
                <li>Developing and implementing state-of-the-art facial recognition algorithms</li>
                <li>Collaborating with law enforcement and NGOs</li>
                <li>Raising awareness and fostering communities</li>
            </ul>
            <br>
            <h3>Our Impact:</h3>
            <p>Since its inception, PRAPTH has assisted in reuniting [Number] missing individuals with their families. We are humbled by the positive impact our work has had on countless lives and remain committed to expanding our reach and saving more lives.</p>
            <br>
            <h3>Join Us:</h3>
            <p>We believe that collective action is essential in tackling complex challenges like missing persons. We invite you to join us in our mission by:</p>
            <ul>
                <li>Sharing information about missing persons</li>
                <li>Supporting our cause</li>
                <li>Raising awareness</li>
            </ul>
        </div>
    </div>
</body>
</html>
