<!--homepage-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRAPTH</title>
    <link rel="stylesheet" href="static\css\home.css">
</head>
<body style="background-image: url('static/images/back1.jpeg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
    <nav>
        <div class="logo">
            <img src="static/images/prapth-logo.jpeg" alt="PRAPTH Logo" height="80" width="80"> 
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="/aboutus.html">About Us</a></li>
            <li><a href="/main-menu.html">Services</a></li>
            <li><a href="/contact.html">Contact</a></li>
            <li><a href="/login.html">Login</a></li>
        </ul>
    </nav>

    <div class="title">
        <h1>PRAPTH</h1>
        <h2>#We will find it for You...</h2>
    </div>

    <!-- <script src="script.js"></script>  -->
</body>
</html>
