<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta nam  e="viewport" content="width+device-width,initial scale=1.0">
    <title>Website Login and Register</title>
    <link rel="stylesheet" href="static/css/home.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <script type="module" src="static/js/new_user_register.js"></script>

      

</head>

<body >
    <header class="header">
        <a href="#" class="logo">
            <img src="static\images\prapth-logo.jpeg" alt="Prapth Logo" width="80" height="80">
        </a>
        

        <nav class="navbar">
            <a href="#">Home</a>
            <a href="second">About</a>
            <a href="/main-menu.html">Services</a>
            <a href="contact">Contact</a>
            <a href="/login.html">Login</a>   
        </nav>
    </header>
    <section class="section">
    <h1 class="prapth" id="text">PRAPTH</h1>
    <div class="wrapper">
        <span class="icon-close">
            <i class='bx bx-x'></i>
        </span>
    
    </section>
            
            

    <section class="second">
        <h2><u>About</u></h2>
        <p>
            PRAPTH is a passionate team of individuals dedicated to utilizing the power of technology to make a positive impact on society. 
            We are driven by the belief that everyone deserves to be found and reunited with their loved ones, and we are committed to developing innovative solutions to the critical issue of missing person identification.
            <br><br>
            <b>Our Mission:</b>
            Our mission is to leverage the potential of facial recognition technology to create a world where missing individuals are quickly and accurately identified, leading to faster reunions and happier families. 
            We aim to achieve this by:<br>
            Developing and implementing state-of-the-art facial recognition algorithms: We continuously improve our technology to ensure accurate and efficient identification, even with limited information or challenging conditions.<br>
            Collaborating with law enforcement and NGOs: We work closely with relevant authorities and organizations to integrate our technology into existing search efforts and ensure responsible and ethical use.<br>
            Raising awareness and fostering communities: We educate the public about missing person cases and empower users to contribute to identification efforts through responsible data sharing and participation.
            <br><br>
            <b>Our Impact:</b>
            Since its inception, PRAPTH has assisted in reuniting [Number] missing individuals with their families. We are humbled by the positive impact our work has had on countless lives and remain committed to expanding our reach and saving more lives.
            <br><br>
            <b>Join Us:</b>
            We believe that collective action is essential in tackling complex challenges like missing persons. We invite you to join us in our mission by:<br>
            Sharing information about missing persons: Report any potential matches you encounter using our platform or through established channels.<br>
            Supporting our cause: Donate to fuel our development efforts and expand our reach.<br>
            Raising awareness: Spread the word about our work and help us build a stronger community dedicated to reuniting families.
            Together, we can create a world where missing individuals are never truly lost.
            <br><br>
        </p>
    </section>




    <section class="third">
        <h2><u>Services</u></h2>
        <p>
            An innovative app that uses facial recognition technology to meet the urgent need for quick missing person identification. With a mission focused on leveraging technology to protect people, the app skillfully blends empathy and contemporary innovation to expedite the search for missing people and facilitate quick reunions for upset families. 
            

        </p>
    </section>

    <section class="contact">
        <h2><u>Contact</u></h2>
        <p>
            An innovative app that uses facial recognition technology to meet the urgent need for quick missing person identification. With a mission focused on leveraging technology to protect people, the app skillfully blends empathy and contemporary innovation to expedite the search for missing people and facilitate quick reunions for upset families. 
            

        </p>
    </section>


    <script src="static/js/script.js"></script>
</body>
</html>