<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webleb</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.6.0/firebase-auth.js"></script>
    <script type="module" src="static/js/login.js"></script>
</head>
<body style="display:flex; align-items:center; justify-content:center;">
    <div class="login-page">
        <div class="form">
            <div id="login-form">
                <div id="signup-form">
                    <h2>Sign Up</h2>
                    <form class="register-form" method="POST">
                        <input type="text" placeholder="Full Name *" required/>
                        <input type="text" placeholder="Username *" required/>
                        <input type="email" placeholder="Email *" required/>
                        <input type="password" placeholder="Password *" required/>
                        <button type="submit">Create</button>
                        <p class="message">Already registered? <a href="#">Sign In</a></p>
                    </form>
                </div>

                <div id="signin-form">
                    <h2>Login</h2>
                    <form class="login-form" method="post">
                        <input type="text" placeholder="Username" required />
                        <input type="password" placeholder="Password" required/>
                        <button type="submit">Sign in</button>
                        <p class="message">Not registered? <a href="#">Create an account</a></p>
                    </form>
                </div>
            </div>

            <div id="main-menu-content" style="display: none;">
                <div class="background">
                    <a href="#" class="logo">
                        <img src="static\images\prapth-logo.jpeg" alt="Prapth Logo" width="80" height="80">
                    </a>
                    <nav class="navbar">
                        <a href="/home.html">Home</a>
                        <span id="username-placeholder"></span>
                    </nav>

                    <div class="home-container">
                        <h1>Welcome to PRAPTH</h1>

                        <div class="button-wrapper">
                            <div class="button-description">
                                <p>
                                    Report details of a missing person, providing information that can aid in their search and recovery.
                                </p>
                            </div>
                            <button id="reportBtn">
                                Report Missing Person Details
                            </button>
                        </div>

                        <div class="button-wrapper">
                            <div class="button-description">
                                <p>
                                    Explore tools and resources for identifying missing persons, including facial recognition technology.
                                </p>
                            </div>
                            <button onclick="location.href='/suspect_reporting.html'">
                                Missing Person Identification
                            </button>
                        </div>  

                        <div class="form-container" id="reportForm" style="display: none;">
                            <h3>Report Missing Person</h3>
                            <form id="missingPersonForm">
                                <input type="text" id="name" name="name" placeholder="Name">
                                <input type="text" id="age" name="age" placeholder="Age">
                                <input type="text" id="address" name="address" placeholder="Address">
                                <input type="text" id="place" name="place" placeholder="Place Where the Person Went Missing">
                                <input type="text" id="days" name="days" placeholder="Days Missing">
                                <input type="email" id="email" name="email" placeholder="Email">
                                <input type="text" id="contact" name="contact" placeholder="Contact Details">
                                <textarea id="details" name="details" placeholder="Other Details"></textarea>
                                <input type="file" id="photos" name="photos" multiple placeholder="Upload Photos"><br><br>
                                <input type="submit" value="Submit">
                            </form>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
