<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missing Persons Portal - Login</title>
    <link rel="stylesheet" href="static\css\login.css">
</head>
<body style="background-image: url('static/images/back1.jpeg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">

    <div id="login-form">
        <button class="toggle-button" id="toggleSignIn">Login</button>
        <button class="toggle-button" id="toggleSignUp" style="display: none;">Register</button>
        <div id="signup-form" style="display: none;">
            <h2>Register</h2>
            <form>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br>
                <label for="name">Username:</label>
                <input type="text" id="name" name="name" required><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>
                
                <button type="submit">Register</button>
            </form>
            <button class="toggle-button" id="toggleSignIn">Login</button>
        </div>

        <div id="signin-form">
            <h2>Login</h2>
            <form>
                <label for="signin-email">Email:</label>
                <input type="email" id="signin-email" name="signin-email" required><br>
                <label for="signin-password">Password:</label>
                <input type="password" id="signin-password" name="signin-password" required><br>
                <button type="submit">Login</button>
                <button class="forgot-password" id="forgotPassword">Forgot Password?</button>
            </form>
            <button class="toggle-button" id="toggleSignUp" style="display: none;">Register</button>
        </div>

        <button id="signout" style="display: none;">Sign Out</button>
        <div id="logged-in-content" style="display: none;">
            <h2>Welcome, you are logged in!</h2>
            <button>Report Missing Person Details</button>
            <button>Missing Person Identification</button>
        </div>
    </div>

    <script>
        const toggleSignUpForm = () => {
            document.getElementById("signin-form").style.display = "none";
            document.getElementById("signup-form").style.display = "block";
            document.getElementById("toggleSignIn").style.display = "inline-block";
            document.getElementById("toggleSignUp").style.display = "none";
        }

        const toggleSignInForm = () => {
            document.getElementById("signin-form").style.display = "block";
            document.getElementById("signup-form").style.display = "none";
            document.getElementById("toggleSignIn").style.display = "none";
            document.getElementById("toggleSignUp").style.display = "inline-block";
        }

        document.getElementById("toggleSignIn").addEventListener("click", toggleSignInForm);
        document.getElementById("toggleSignUp").addEventListener("click", toggleSignUpForm);
    </script>
</body>
</html>
