<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>

    <link rel="stylesheet" href="static/css/suspect_reporting.css">
</head>
<body style="background-image: url('static/images/back1.jpeg'); background-repeat: no-repeat;background-size: cover; background-attachment:fixed;">

    <h2><ul>PRAPTH</ul></h2>

    <form action="/upload" method="post" enctype="multipart/form-data" id="suspect-form">
        <label for="imageInput">Select an image:</label><br><br>
        <input type="file" id="imageInput" name="image" accept="image/*" required>
        <input type="hidden" id="latitude" name="latitude">
        <input type="hidden" id="longitude" name="longitude">
        <br>
        <button type="submit">Upload Image</button>
    </form>

    <div id="result"></div>

    <script>
        const resultDiv = document.getElementById('result');

        function handleFileSelect(event) {
            const file = event.target.files[0];

            if (!file.type.startsWith('image/')) {
                resultDiv.textContent = 'Please select an image file.';
                return;
            }

            const formData = new FormData();
            formData.append('image', file);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    resultDiv.textContent = data.message;
                })
                .catch(error => {
                    resultDiv.textContent = 'An error occurred: ' + error;
                });
        }

        document.getElementById('imageInput').addEventListener('change', handleFileSelect);

        // Function to get user's location
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                resultDiv.textContent = "Geolocation is not supported by this browser.";
            }
        }

        // Function to update hidden input fields with latitude and longitude
        function showPosition(position) {
            document.getElementById("latitude").value = position.coords.latitude;
            document.getElementById("longitude").value = position.coords.longitude;
        }

        // Add event listener for form submission
        document.getElementById("suspect-form").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent default form submission behavior
            getLocation(); // Call the getLocation function to get user's location
            setTimeout(() => { // Adding a small delay to ensure location is fetched before form submission
                this.submit(); // Submit the form after getting location
            }, 1000);
        });
    </script>
</body>
</html>
